@using ADSync.Data.Models
@model IEnumerable<RemoteSite>
@{
    ViewBag.Title = "Download Files";
}

<div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-title panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">

    </div>
</div>
