<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="DocDBUri" value="https://localhost:8081/" />
    <add key="DocDBAuthKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    <add key="DocDBName" value="AccountStaging" />
    <add key="DocDBCollection" value="OnPrem" />

    <add key="StorageConnectionString" value="UseDevelopmentStorage:true" />
    <add key="ida:Tenant" value="[your tenant name]" />
    <add key="ida:TenantId" value="[your tenant ID]" />
    <add key="ida:ClientId" value="[your AAD app client ID]" />
    <add key="ida:ClientSecret" value="[your AAD app client secret]" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="RedisConnectionString" value="[Redis Connection String]"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <conditions>
            <add xdt:Locator="Match(input)" xdt:Transform="Remove" input="{localhost}" pattern="on" ignoreCase="true"/>
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
