@{
    ViewBag.Title = "About Writeback Manager";
}

<div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-title panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        This utility facilitates merging identities from subsidiary companies into headquarters Active Directory Domain Services. These 
        merged identities are then synchronized to the headquarters Azure Active Directory tenant, where the subsidiary companies can 
        configure federation with the users associated with their domain. It enables a single cloud view of an entire organization.
    </div>
</div>