
@{
    ViewBag.Title = "Sign Out Successful";
}

<div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-title panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
    You have been signed out. We recommend you close your browser.
    </div>
</div>