<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="ApiKey" value="trg5heyuLFYPNmQAkWlQ19LiZ20Eonquxc1+qrIlDTA=" />
      <add key="SiteUrl" value="https://adsyncapi20170413061307.azurewebsites.net/" />
      <add key="DebugSiteUrl" value="http://localhost:6382/" />
      <add key="AADClientID" value=""/>
      <add key="AADClientKey" value=""/>
      <add key="AADTenantID" value=""/>
      <add key="TimerIntervalMinutes" value="1" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
