
@{
    ViewBag.Title = "Log Manager";
}

<div class="panel panel-primary" style="margin-top:20px;">
    <div class="panel-title panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">
        Not implemented
    </div>
</div>
