<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=multidompoc;AccountKey=rJfyoKgNI2GphCYG55fqpAARMbbmwo88zghO1FTWBek8OEZ5rlN8IBqq467lfFNDhY93jJbaJuvxNgUvMa3bNA==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=multidompoc;AccountKey=rJfyoKgNI2GphCYG55fqpAARMbbmwo88zghO1FTWBek8OEZ5rlN8IBqq467lfFNDhY93jJbaJuvxNgUvMa3bNA==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=multidompoc;AccountKey=rJfyoKgNI2GphCYG55fqpAARMbbmwo88zghO1FTWBek8OEZ5rlN8IBqq467lfFNDhY93jJbaJuvxNgUvMa3bNA==;EndpointSuffix=core.windows.net" />
    <add key="DocDBUri" value="https://b2bmultidom-dbuocf7lvgfqppw.documents.azure.com:443/"/>
    <add key="DocDBAuthKey" value="auWi1a1jCC1KUAOpRYbLAOwYK3afQE44rC0qQw4jajydTt8nWQBGu4jT9gDiMydvRaXqAE1at0HWTzgWHJ4oBg=="/>
    <!--
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
    <add key="DocDBUri" value="https://localhost:8081/" />
    <add key="DocDBAuthKey" value="C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==" />
    -->
    <add key="DocDBName" value="AccountStaging" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.14.0.0" newVersion="1.14.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
