<div class="panel-body">
    <div class="form-horizontal">
        <div class="row">
            <div class="well" style="margin:12px;">
                Download a custom zip containing the site setup file and pre-configured API key:
                <blockquote>
                    @Html.ActionLink("SiteSetup.zip", "GetSetupZip", "Home", null, new { @class = "btn btn-primary" })
                </blockquote>
                Source code for this download is available on GitHub:
                <blockquote>
                    <a href="https://github.com/Azure-Samples/active-directory-dotnet-web-ad-complex-org-utility" target="_blank">https://github.com/Azure-Samples/active-directory-dotnet-web-ad-complex-org-utility</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
