<div class="panel-body">
    <div class="form-horizontal">
        <div class="col-sm-3">
            <input placeholder="Filter Users..." class="form-control" type="text" id="UserSearch" />
            <ul class="list-group" id="UserList"></ul>
        </div>
        <div class="col-sm-9">
            <div class="form-group control">
                <div class="col-md-12">
                    <button id="btnUserSave" type="button" class="btn btn-default control"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                    <button id="btnUserDelete" type="button" class="btn btn-default control"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    <button id="btnUserCancel" type="button" class="btn btn-default control"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>

            <div class="well">
                <div class="row">
                    <div class="col-sm-6">
                        <label>IDBank Identifier</label>
                        <input type="text" class="form-control" id="Id" readonly />
                    </div>
                    <div class="col-sm-6">
                        <label>UPN</label>
                        <input type="text" class="form-control" id="Upn" placeholder="Upn" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>MasterGuid</label>
                        <input type="text" class="form-control" id="MasterGuid" readonly placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>CreateDate</label>
                        <input type="text" class="form-control" id="CreateDate" readonly placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>LocalGuid</label>
                        <input type="text" class="form-control" id="LocalGuid" readonly placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Email</label>
                        <input type="text" class="form-control" id="Mail" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>LoadState</label>
                        <input type="text" class="form-control" id="LoadState" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Mobile</label>
                        <input type="text" class="form-control" id="Mobile" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>GivenName</label>
                        <input type="text" class="form-control" id="GivenName" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Surname</label>
                        <input type="text" class="form-control" id="Surname" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>TelephoneNumber</label>
                        <input type="text" class="form-control" id="TelephoneNumber" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>HomePhone</label>
                        <input type="text" class="form-control" id="HomePhone" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>StreetAddress</label>
                        <input type="text" class="form-control" id="StreetAddress" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>City</label>
                        <input type="text" class="form-control" id="City" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>State</label>
                        <input type="text" class="form-control" id="State" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Country</label>
                        <input type="text" class="form-control" id="Country" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>PostalCode</label>
                        <input type="text" class="form-control" id="PostalCode" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Department</label>
                        <input type="text" class="form-control" id="Department" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>DisplayName</label>
                        <input type="text" class="form-control" id="DisplayName" placeholder="" />
                    </div>
                    <div class="col-sm-6">
                        <label>Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Title</label>
                        <input type="text" class="form-control" id="Title" placeholder="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    div.well label {
        font-size:.8em;
        display:block;
    }
</style>